
language: bash

services:
        - docker

before_install:
        - make prepare
        - make build

script:
        - make test

after_script:
        - make stop

notifications:
        email:
                on_success: never
